@import 'map/_map.scss';

.popup {
  h2 {
    font-size: 15px;
    margin-bottom: 3px;
  }
  h3 {
    background: #eef;
    font-weight: normal;
    margin-top: .5em;
    padding: 3px 1px;
    width: 200px;
  }
  img {
    display: block;
    height: 170px;
    margin: 0 auto 1em auto;
    width: 135px;
  }
  p {
    margin-top: 0;
  }
}
