@import '_common.scss';

h2 {
  margin-top: 0;
}

.stations {
  display: flex;
  flex-flow: row wrap;

  li {
    h3 {
      white-space: nowrap;
    }

    margin-right: 1em;
    text-align: center;
    width: 144px;
  }
}
